{{ template "globals/header.tmpl" .}}

    <header>
    <div>
        <h1 class="page-title"><a href="/home/index.html">{{ .title }}</a></h1>

        <nav>
            <ul>
                <li><a href="/home/about.tml">[About]</a></li>
                <li><a href="/home/login.html">[Login]</a></li>
            </ul>
        </nav>
    </div>

    <div>
        <h1 class="page-title">{{ .subtitle }}</h2>
    </div>
    
    </header>

    <main>
        the main part
    </main>
    

{{ template "globals/footer.tmpl" .}}