{{ template "globals/header.tmpl" .}}

    <header>
        <h1 class="page-title">{{ .title }}</h1>

        <nav>
            <ul>
                <li><a href="blbla">[About]</a></li>
                <li><a href="blbla">[Login]</a></li>
            </ul>
        </nav>
    </header>

    <main>
        the main part
    </main>
    

{{ template "globals/footer.tmpl" .}}