{{ template "globals/header.tmpl" .}}

    <script>
    

    </script>

    <header>
    <div>
        <h1 class="page-title"><a href="/home/index.html">{{ .title }}</a></h1>
        

        <nav>
            <ul>
                <li><a href="about">[About]</a></li>
                <li>[Login]</li>
            </ul>
        </nav>
    </div>
    
    <div>
        <h1 class="page-title">{{ .subtitle }}</h2>
    </div>

    </header>

    <main>
        {{if .logged_in}}
            logged in
        {{else}}
            <form action="" id="loginForm">
                <label>email:</label><input type="text" name="email" id="email" maxlength="40">
                </br>
                <label>password:</label><input type="text" name="password" id="password" maxlength="40">
                </br>
                <!-- <input type="submit" value="login"> -->
                <button type="submit">submit</button>
            </form>

            <a href="/registration">[new registration]</a>

        {{end}}
    </main>
    

{{ template "globals/footer.tmpl" .}}