{{ template "globals/header.tmpl" .}}

    <header>
    <div>
        <h1 class="page-title"><a href="/">{{ .title }}</a></h1>
        

        <nav>
            <ul>
                <li><a href="about">[About]</a></li>
                <li>[Login]</li>
            </ul>
        </nav>
    </div>
    
    <div>
        <h1 class="page-title">{{ .subtitle }}</h2>
    </div>

    </header>

    <main>
        here comes the login
    </main>
    

{{ template "globals/footer.tmpl" .}}